.post {
    .post-header {
    	margin: 0 100px;
    	margin-bottom: 40px;
    	padding: 20px;
        .post-title {
        	font-size:32px;
        	font-weight: normal;
            margin: 0 -100px;
            
            /* Smartphones (portrait and landscape) */
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                font-size: 20px;
            }
            /* Smartphones (landscape) */
            @media only screen and (min-width : 321px) {
                font-size: 20px;
            }
            /* Smartphones (landscape) */
            @media only screen and (max-width : 320px) {
                font-size: 20px;
            }
            /* iPad (portrait and landscape) */
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
                font-size: 24px;
            }
            /* Smartphones (landscape) */
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
                font-size: 24px;
            }
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
                font-size: 24px;
            }
            /* Desktop (landscape) */
            @media only screen and (min-width : 1224px) {
                font-size: 28px;
            }
        }
        .post-meta {
        	color:#999;
        	font-size:$small-font-size;
        	margin: 0 -100px;
        }
        @include media-query($on-palm) {
    		text-align:center;
    		margin-bottom: 10px;
    		padding: 10px;
        }
    }
    .post-content {
        color: #333;
        margin-left: 20px;
        margin-right: 10px;
        
        h1,h2,h3,h4,h5,h6 {
            color: #000;

            /* Smartphones (portrait and landscape) */
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                font-size: 18px;
            }
            /* Smartphones (landscape) */
            @media only screen and (min-width : 321px) {
                font-size: 18px;
            }
            /* Smartphones (landscape) */
            @media only screen and (max-width : 320px) {
                font-size: 18px;
            }
            /* iPad (portrait and landscape) */
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
                font-size: 22px;
            }
            /* Smartphones (landscape) */
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
                font-size: 22px;
            }
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
                font-size: 22px;
            }
            /* Desktop (landscape) */
            @media only screen and (min-width : 1224px) {
                font-size: 26px;
            }
        }
        
        h1, h2 {
        	margin-bottom: 10px;
            margin-top: 30px;
        }
        
        h1, h2, h3 {
            border-bottom: 1px solid #CCC;
        }

        strong {
            background-color: #EAEAEA;
        }

        p, ul, ol {
            /* Smartphones (portrait and landscape) */
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                font-size: 13px;
            }
            /* Smartphones (landscape) */
            @media only screen and (min-width : 321px) {
                font-size: 13px;
            }
            /* Smartphones (landscape) */
            @media only screen and (max-width : 320px) {
                font-size: 13px;
            }
            /* iPad (portrait and landscape) */
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
                font-size: 15px;
            }
            /* Smartphones (landscape) */
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
                font-size: 15px;
            }
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
                font-size: 15px;
            }
            /* Desktop (landscape) */
            @media only screen and (min-width : 1224px) {
                font-size: 16px;
            }
        }
        
        pre {
        	margin: 0 -30px;
            @include media-query($on-palm) {
		        margin: 0 -10px;
            }
        }

        code {
            /* Smartphones (portrait and landscape) */
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                font-size: 12px;
            }
            /* Smartphones (landscape) */
            @media only screen and (min-width : 321px) {
                font-size: 12px;
            }
            /* Smartphones (landscape) */
            @media only screen and (max-width : 320px) {
                font-size: 12px;
            }
            /* iPad (portrait and landscape) */
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
                font-size: 14px;
            }
            /* Smartphones (landscape) */
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
                font-size: 14px;
            }
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
                font-size: 14px;
            }
            /* Desktop (landscape) */
            @media only screen and (min-width : 1224px) {
                font-size: 15px;
            }
        }
        
        .middle-image {
            display: block;
            margin-left: auto;
            margin-right: auto
        }

        .highlight {
            margin-left: 0px;
            margin-right: 10px;
        }
    }
    .post-comments {
        padding-top: 30px;
    }
}
